body{font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.cr-app,body{margin:0;padding:0}.cr-app{display:flex;width:100%;height:100%;overflow-x:hidden}.login{margin-top:100px}.grid-view{display:flex;align-items:center;justify-content:center}.grid-item{margin-top:10px;margin-right:10px}code{font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace}
/*# sourceMappingURL=main.fe1415f6.chunk.css.map */